In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv("Book3.csv")
df.head()

         x             y
0  33.0000  1.232200e+04
1  23.0000  1.222222e+08
2  22.0000  2.333333e+00
3   2.3333  4.444400e+00
4  23.4233  3.234300e+01

In [8]:
df.shape

(8, 2)

In [9]:
x = df['x']
y = df['y']

# Gradient Descent ML

In [10]:
m = 0
c = 0
Learning_rate = 0.001

n = int(len(x))

iterations = 100

for i in range(iterations):
    y_prediction = m * x + c
    dervatives_m = (-2/n) * sum(x*(y-y_prediction))
    dervatives_c = (-2/n) * sum(y-y_prediction)
    
    m = m- (Learning_rate * dervatives_m)
    c = c- (Learning_rate * dervatives_m)
    
print(m,c)

-2.1383598486980845e+148 -2.1383598486980845e+148

In [12]:
x = 2.3333
y = -2.1383598486980845 * x + -2.1383598486980845
y

-7.1277948836653255